stages:
  - build
  - deploy

variables:
  IMAGE_TAG: kafka_jmx_exporter:${CI_COMMIT_SHORT_SHA}

# === BUILD: PROD ===
build-prod:
  stage: build
  script:
    - docker build -t $IMAGE_TAG .
  environment: production
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
  tags:
    - prod_ms

  
# === DEPLOY: PROD ===
deploy-prod:
  stage: deploy
  script:
    - docker compose -f docker-compose.yml up -d
  environment: production
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
  tags:
    - prod_ms
