stages:
  - deploy
  
# === DEPLOY: PROD ===
deploy-prod:
  stage: deploy
  script:
    - ls -la ./jmx-exporter/
    - file ./jmx-exporter/kafka-jmx.yml
    - docker compose -f docker-compose.yml up -d
  environment: production
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
  tags:
    - prod_ms
